<!--
    Browse all recipes in the database
-->

{% extends 'base.html' %}
{% block content %}


     <div class="section">
        <div class="container">
            <p>{{ request.get_full_path }}</p>
            <h2 class="title">Under Construction.</h2>
        </div>
    </div>

    <div class="container section">
    <div class="columns">

        {% for recipe in allRecipes %}

            <div class="column is-4">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ recipe.name }}
            </p>
            <span class="card-header-icon timestamp">
              {{ recipe.time }}
            </span>

              <br>


          </header>

          <div class="card-image">
            <figure class="image is-4by3">
                <a href="{{ recipe.id }}">
                    <img src="https://placehold.it/1280x960" alt="Image">
                </a>

            </figure>
          </div>

          <div class="card-content">
            <div class="panel-block-item">
                <p>
              {{ recipe.description }}
            </p>
            </div>
          </div>

            <div class="card-footer">
                <div class="card-footer-item">
                    <p>{{ recipe.chef.first_name }} {{ recipe.chef.last_name }}</p>
                </div>

            </div>
        </div>
      </div>

        {% endfor %}

    </div>

    </div>

{% endblock %}