<!--
    Displays the recipe details:
    image, recipe name, chef, time, description
    steps, and chef bio at the end of the page

    template variables:
        recipe: the unique recipe
        ingredients: all recipe's ingredients from M:M relation
        steps: all recipe's steps from M:1 relation
-->

{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


    <!--Displays recipe name and description-->

    <div id="recipe-meta" class="section">
        <div class="container">
            <div class="columns">

                <div class="column is-6">
                    <div class="image is-4by3">
                        <img id="recipe-main-img" src="https://placehold.it/640x480">
                    </div>
                </div>

                <div class="column is-5 is-offset-1">
                    <h2 class="title is-2" align="center">{{ recipe.name }}</h2>
                    <hr>
                    <div class="columns is-mobile">
                        <div class="column is-half">
                            <!-- TODO: Display user's name-->
                            <p>Chef: {{ chef.first_name }} {{ chef.last_name }}</p>
                        </div>
                        <div class="column is-5 is-offset-2">
                            <!-- TODO: Display time to complete recipe -->
                            <p>Time: {{ recipe.time }}</p>
                        </div>
                    </div>
                    <br>
                    <p>{{ recipe.description }}</p>
                </div>

            </div>
        </div>
    </div>


    <!--The ingredients title-->

    <div id="recipe-ingredients-title" class="hero is-title">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2><b>I N G R E D I E N T S</b></h2>
            </div>
        </div>
    </div>


    <!--The ingredients bar-->

    <div id="recipe-ingredients" class="hero is-green">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-multiline">

                    <!--
                    Displays all ingredients used within the recipe. Each row contains 5 ingredients
                    TODO: make so quanity displays integer if whole number otherwise decimal
                    template filters convert 'Word Word' into 'wordword' to obtain proper icons
                    -->
                    {% for i in ingredients %}
                        <div class="column is-one-fifth col-ingred" align="center">
                            <p><b>{{ i.ingredient.name }}</b></p>
                            <p>{{ i.quantity }} {{ i.unit }}</p>
                            <img class="ingredients" src="{% static "/ingredient-icons/"|add:i.ingredient.name|cut:" "|lower|add:".png" %}">
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


    <!--Cards displaying recipe steps-->

    <div id="recipe-instruction" class="section">
        <div class="container">

            {% for s in steps %}
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">{{ s.title }}</p>
                    </header>

                    <div class="card-content">
                        <div class="content">{{ s.details }}</div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


    <!--The chef bio title-->

    <div id="recipe-chef-title" class="hero is-title">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2><b>C H E F</b></h2>
            </div>
        </div>
    </div>


    <!--The chef bio section-->

    <div id="recipe-chef" class="hero is-chef">
        <div class="hero-body">
            <div class="container">
                <div class="columns">

                <div class="column" align="center">
                        <img class="profile-pic-circle" src="https://placehold.it/256x256">
                </div>

                <div class="column">
                    <h2 class="title has-text-white" align="center">{{ chef.first_name }} {{ chef.last_name }}</h2>

                    <p>{{ chef.userprofile.bio }}</p>


                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}