<!--
    Displays the recipe details:
    image, recipe name, chef, time, description
    steps, and chef bio at the end of the page
-->

{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}



    <div id="recipe-meta" class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <div class="image is-4by3">
                        <img id="recipe-main-img" src="https://placehold.it/640x480">
                    </div>
                </div>
                <div class="column is-5 is-offset-1">
                    <h2 class="title is-2" align="center">{{ recipe.name }}</h2>

                    <hr>

                    <div class="columns is-mobile">
                        <div class="column is-half">
                            <p>Chef: First Last</p>
                        </div>
                        <div class="column is-5 is-offset-2">
                            <p>Time: #h #m</p>
                        </div>
                    </div>

                    <br>
                    <p>{{ recipe.description }}
                    </p>



                </div>
            </div>
        </div>
    </div>


    <div id="recipe-ingredients-title" class="hero is-title">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2><b>I N G R E D I E N T S</b></h2>
            </div>
        </div>
    </div>

    <div id="recipe-ingredients" class="hero is-green">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-multiline">

                    {% for e in ingredients %}
                        <div class="column is-one-fifth col-ingred" align="center">
                            <p><b>{{ e.ingredient.name }}</b></p>
                            <!-- TODO: make so quanity displays integer if whole number otherwise decimal-->
                            <p>{{ e.quantity }} {{ e.unit }}</p>
                            <img class="ingredients" src="{% static "/ingredient-icons/"|add:e.ingredient.name|cut:" "|lower|add:".png" %}">
                        </div>
                        {% endfor %}



                </div>
            </div>
        </div>
    </div>

    <div id="recipe-instruction" class="section">
        <div class="container">

            {% for e in steps %}
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">{{ e.title }}</p>

                </header>

                <div class="card-content">
                    <div class="content">
                        {{ e.details }}
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>

    <div id="recipe-chef-title" class="hero is-title">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2><b>C H E F</b></h2>
            </div>
        </div>
    </div>

    <div id="recipe-chef" class="hero is-chef">
        <div class="hero-body">
            <div class="container">
                <div class="columns">

                <div class="column" align="center">
                        <img class="profile-pic-circle" src="https://placehold.it/256x256">
                </div>

                <div class="column">
                    <h2 class="title has-text-white" align="center">First Last</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.</p>


                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}