.navbar {
    background-color: #ACCE91;
    padding-left: 2%;
    padding-right: 2%;
}
a.navbar-item:hover{
    background-color: #A2C288;
    color: #f7f7f7;
}
.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #A2C288;
    color: #f7f7f7;
  }
.login-btn-padding {
  padding: 2px !important;
}
.navbar-link::after {
    border: 1px solid #f7f7f7;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }
.navbar-burger:hover {
    background-color: #A2C288;
}
.navbar-burger.is-active span {
    background-color: #f7f7f7;
}
.button.is-login.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-login.is-inverted.is-outlined:hover, .button.is-login.is-inverted.is-outlined:focus {
  background-color: #fff;
  color: #A2C288;
}
body {
    background-color: #f7f7f7;
}
p, h2 {
    font-family: 'Raleway', sans-serif;
}
#recipe-main-img{
    border: 5px solid #eee;
}
.hero.is-title .hero-body{
    padding-bottom: .75rem;
    padding-top: .75rem;
    background-color: #A2C288;
    color: #f7f7f7;

}
.hero.is-green .hero-body{
    padding-bottom: .75rem;
    padding-top: .75rem;
    background-color: #ACCE91;
    color: #ffffff;
}
.ingredients {
    max-width: 100%;
    height: auto;
}
.col-ingred{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-ingred:active{
    overflow: visible;
    white-space: normal;
    text-align: center;
    transform: scale(1.1);
    transition-duration: 0.25s;
    transition-property: transform;
}
.columns.is-mobile > .column.is-one-fifth {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 20%;
}
.hero.is-chef .hero-body{
    padding-bottom: .75rem;
    padding-top: 1.4rem;
    background-color: #ACCE91;
    color: #ffffff;
}
.profile-pic-circle {
    height: 256px;
    width: 256px;
    border-radius: 50%;
    border: 5px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
.card {
    margin-bottom: 15px;
      background-color: #f2ebe1;
      -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
              box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      color: #4a4a4a;
      max-width: 100%;
      position: relative;

}
